.category__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .category__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
  }
}
