.cart-icon__container {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .cart-icon__shopping-icon {
    width: 30px;
    height: 30px;
  }

  .cart-icon__item-count {
    position: absolute;
    font-size: 1rem;
    font-weight: bold;
    bottom: 6px;
  }
}
