@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap");

* {
  box-sizing: border-box;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

body {
  margin: 0;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.page-header {
  text-align: center;
  text-transform: uppercase;
}
