@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  letter-spacing: 1px;
}
main {
  margin: 5rem 0;
}

a {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.page-header {
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
  font-size: 28px;
}

.icon_buttons {
  cursor: pointer;
}

.clear_item {
  color: red;
}

.icon_buttons:hover {
  scale: 1.2;
}
